<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Student Page</title>

<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
<body>
	<body>
	<div class="container" align="center">
		<h1 th:text = "#{demo.welcome}"> Message </h1>
		<h2>Student List As Follows</h2>
		<hr>
		<a th:href="@{/addNew}" class="btn btn-primary btn-sm mb-3">
			Add Student
		</a>
		
		<br><br>
		<table style="width: 80%; border: 1;" class="table">
			<thead>
				<th>ID</th>
				<th>NAME</th>
				<th>CONTACT</th>
				<th>ACTION</th>
			</thead>
			<tr th:each="student:${students}">
				<td th:text="${student.id}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.contact}"></td>
				<td>
					<a th:href="@{/updateStudent/{id}(id=${student.id})}" class="btn btn-primary btn-sm mb-3">
						Update
					</a>
					<a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger btn-sm mb-3">
						Delete
					</a>
				</td>
			</tr>
		</table>



	</div>





</body>
</html>